<form action='/bookmarks' method='post'>
  <input type='text' id='new_url' name='new_url' paceholder='URL'>
  <input type='text' id='title' name='title' paceholder='Title'>
  <input type='submit' value='Submit'>
</form>